<form class="flex flex-col gap-4" [formGroup]="form()">
  <div
    class="grid w-full grid-cols-1 gap-2 rounded-lg bg-neutral-200 p-8 md:grid-cols-3"
  >
    <div i18n class="col-span-1">Allgemeine Informationen</div>
    <div class="col-span-2 flex gap-4">
      <section>
        <mat-checkbox formControlName="isSellable"
          >Verkaufsprodukt
        </mat-checkbox>
      </section>
      <section>
        <mat-checkbox formControlName="circularPrinciple"
          >Kreislauforientierten Grundsätzen beachtet
        </mat-checkbox>
      </section>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Beschreibung</mat-label>
      <input matInput formControlName="description" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Produkt Id</mat-label>
      <input matInput formControlName="productId" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Kategorie</mat-label>
      <input matInput formControlName="category" />
    </mat-form-field>
    <div class="flex flex-wrap gap-1">
      <mat-form-field appearance="outline" class="w-full flex-none md:flex-1">
        <mat-label>Gewicht</mat-label>
        <input matInput type="number" formControlName="weight" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full flex-none md:flex-1">
        <mat-label>Einheit</mat-label>
        <mat-select formControlName="unit">
          @for (unit of UNITS.keys(); track $index) {
            <mat-option [value]="unit"
              >{{ UNITS.get(unit) }} ({{ unit }})</mat-option
            >
          }
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Lieferant</mat-label>
      <input matInput formControlName="supplier" [matAutocomplete]="auto" />
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        @for (option of associatedCompaniesQuery.data()?.data; track option) {
          <mat-option [value]="option"
            ><div class="flex flex-row items-center gap-1">
              <span> {{ option.name }}</span>
              @if (option.id === ownCompanyQuery.data()?.id) {
                <mat-icon class="material-symbols-outlined">home_pin</mat-icon>
              }
            </div>
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Hersteller</mat-label>
      <input
        matInput
        formControlName="manufacturer"
        [matAutocomplete]="manufacturerAuto"
      />
      <mat-autocomplete
        #manufacturerAuto="matAutocomplete"
        [displayWith]="displayFn"
      >
        @for (option of associatedCompaniesQuery.data()?.data; track option) {
          <mat-option [value]="option"
            ><div class="flex flex-row items-center gap-1">
              <span> {{ option.name }}</span>
              @if (option.id === ownCompanyQuery.data()?.id) {
                <mat-icon class="material-symbols-outlined">home_pin</mat-icon>
              }
            </div>
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Preis</mat-label>
      <input matInput type="number" formControlName="price" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Abmessungen</mat-label>
      <input matInput formControlName="dimensions" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Relevante Abfallströme</mat-label>
      <input matInput formControlName="wasteFlow" />
    </mat-form-field>
    <div class="flex justify-between gap-2">
      <mat-form-field appearance="outline" class="flex-1">
        <mat-label>Produktgruppe</mat-label>
        <input
          matInput
          formControlName="productGroup"
          [matAutocomplete]="groupAuto"
        />
        <button
          matSuffix
          mat-icon-button
          class="mr-2"
          (click)="$event.stopPropagation(); groupSheet.open()"
        >
          <mat-icon>add</mat-icon>
        </button>
        <mat-autocomplete
          #groupAuto="matAutocomplete"
          [displayWith]="displayFn"
        >
          @for (option of groupsQuery.data()?.data; track option) {
            <mat-option [value]="option">{{ option.name }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Variante</mat-label>
      <mat-select
        formControlName="variant"
        name="variant"
        [compareWith]="compareVariants"
      >
        @for (variant of selectedGroup()?.variants; track variant) {
          <mat-option [value]="variant">{{ variant.name }}</mat-option>
        }
        @if (!selectedGroup()?.variants) {
          <mat-option>Bitte Produktgruppe wählen</mat-option>
        }
        @if (selectedGroup()?.variants?.length === 0) {
          <mat-option>Keine Varianten gefunden</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Anteil erneuerbare Inputmaterialien (Prozent) </mat-label>
      <input
        matInput
        type="number"
        formControlName="percentageOfBiologicalMaterials"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Haltbarkeit (in Monaten)</mat-label>
      <input matInput type="number" formControlName="durability" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Haltbarkeit zum Branchenschnitt (in Monaten)</mat-label>
      <input matInput type="number" formControlName="durabilityDifference" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Reparaturfähigkeit</mat-label>
      <input matInput type="number" formControlName="reparability" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Verwendetes Wasser (Liter) </mat-label>
      <input matInput type="number" formControlName="waterUsed" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Verwendetes Zertifizierungssystem</mat-label>
      <input matInput formControlName="certification" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-span-3">
      <mat-label>Kaskadenprinzip</mat-label>
      <textarea
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        matInput
        [formControl]="form().controls.cascadePrinciple"
        placeholder="Kaskadenprinzip"
      ></textarea>
    </mat-form-field>
  </div>

  <!-- Materialien -->

  <div
    class="grid w-full grid-cols-1 gap-2 rounded-lg bg-neutral-200 p-8 md:grid-cols-3"
  >
    <span class="col-span-3">Angaben zu Materialien</span>
    <mat-form-field appearance="outline">
      <mat-label>Materialien</mat-label>
      <mat-chip-grid #materialsChips>
        @for (item of materialsForm().controls.materials.value; track $index) {
          @if (item.material && item.percentage) {
            <mat-chip-row [aria-description]="'material'"
              >{{ item.material }} ({{ item.percentage }} %)
            </mat-chip-row>
          }
        }
        <input matInput readonly [matChipInputFor]="materialsChips" />
      </mat-chip-grid>
      <button
        mat-icon-button
        (click)="materialSheet.open()"
        class="mr-2"
        matSuffix
      >
        <mat-icon>add</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Seltene Erden</mat-label>
      <mat-chip-grid #rareEarthsChips>
        @for (item of rareEarthsForm().controls.materials.value; track $index) {
          @if (item.material && item.percentage) {
            <mat-chip-row [aria-description]="'material'"
              >{{ item.material }} ({{ item.percentage }} %)</mat-chip-row
            >
          }
        }
        <input matInput readonly [matChipInputFor]="rareEarthsChips" />
      </mat-chip-grid>
      <button
        mat-icon-button
        (click)="materialSheet.open()"
        class="mr-2"
        matSuffix
      >
        <mat-icon>add</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Kritische Rohstoffe </mat-label>
      <mat-chip-grid #criticalRawMaterialsChips>
        @for (
          item of criticalRawMaterialsForm().controls.materials.value;
          track $index
        ) {
          @if (item.material && item.percentage) {
            <mat-chip-row [aria-description]="'material'"
              >{{ item.material }} ({{ item.percentage }} %)</mat-chip-row
            >
          }
        }
        <input
          matInput
          readonly
          [matChipInputFor]="criticalRawMaterialsChips"
        />
      </mat-chip-grid>
      <button
        mat-icon-button
        (click)="materialSheet.open()"
        class="mr-2"
        matSuffix
      >
        <mat-icon>add</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <!-- Produktions- und Lagerstandorte -->
  @if (currentRole === AuthRoles.SUSTAINABILITY_MANAGER) {
    <div
      class="grid w-full grid-cols-1 gap-2 rounded-lg bg-neutral-200 p-8 md:grid-cols-2"
    >
      <span class="col-span-2">Produktions- und Lagerstandorte</span>
      <mat-form-field appearance="outline">
        <mat-label> Produktionsstandort</mat-label>
        <mat-select
          [formControl]="form().controls.productionLocation"
          [compareWith]="compareAddresses"
        >
          @if (addresses.length === 0) {
            <mat-option> Keine Adressen gefunden</mat-option>
          }

          @for (item of addresses; track item.id) {
            <mat-option [value]="item.id"
              >{{ item.street }}, {{ item.postalCode }} {{ item.city }},
              {{ item.country }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Lagerstandort</mat-label>
        <mat-select
          [formControl]="form().controls.warehouseLocation"
          [compareWith]="compareAddresses"
        >
          @if (
            ownCompanyQuery.data() &&
            ownCompanyQuery.data()?.addresses?.length === 0
          ) {
            <mat-option> Keine Adressen gefunden</mat-option>
          }
          @for (item of addresses; track item.id) {
            <mat-option [value]="item.id"
              >{{ item.street }}, {{ item.postalCode }} {{ item.city }},
              {{ item.country }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  }
</form>

<app-base-sheet #groupSheet>
  <app-product-group-create
    (closeSheetEvent)="groupSheet.close(); setProductGroup($event)"
  ></app-product-group-create>
</app-base-sheet>

<app-base-sheet #materialSheet>
  <app-select-materials
    (closeSheetEvent)="materialSheet.close()"
    (addMaterialEvent)="addMaterialFormGroup(materialsForm())"
    (removeMaterialEvent)="removeMaterialFormGroup(materialsForm(), $event)"
    (addRareEarthEvent)="addMaterialFormGroup(rareEarthsForm())"
    (removeRareEarthEvent)="removeMaterialFormGroup(rareEarthsForm(), $event)"
    (addCriticalRawMaterialEvent)="
      addMaterialFormGroup(criticalRawMaterialsForm())
    "
    (removeCriticalRawMaterialEvent)="
      removeMaterialFormGroup(criticalRawMaterialsForm(), $event)
    "
    [form]="materialsForm()"
    [rareEarthsForm]="rareEarthsForm()"
    [criticalRawMaterialsForm]="criticalRawMaterialsForm()"
  ></app-select-materials>
</app-base-sheet>
