<div class="p-4 md:p-8">
  <!-- Header -->
  <div class="mb-6">
    <div class="mb-2 flex items-center gap-2 text-lg">
      <a routerLink="/products" class="font-semibold hover:underline">
        Digital Product Passport
      </a>
      <span class="material-symbols-outlined text-lg">chevron_right</span>
      <span class="font-medium">{{ id() }}</span>
    </div>
  </div>

  @if (dppQuery.data() && productQuery.data()) {
    <div class="rounded-lg bg-neutral-200 p-4 grid grid-cols-2"  [formGroup]="formGroup">
       
        
        <div  class="hover:bg-neutral-250 flex flex-row items-center gap-2 rounded-md px-4 py-2 w-full">

          <span class=" min-w-1/8  w-1/8" >Id</span>
           <span class="w-3/8" >{{dppQuery.data()?.productId}} </span>
           <span class="w-3/8" >{{productQuery.data()?.productId}} </span>
           <mat-checkbox class="w-1/8" #productId formControlName="productId"></mat-checkbox
        >

        </div>
       
     
    </div>
  }
</div>
