<div class="p-4 md:p-8">
  <!-- Header -->
  <div class="mb-6">
    <div class="mb-2 flex items-center gap-2 text-lg">
      <a routerLink="/products" class="font-semibold hover:underline">
        Digital Product Passport
      </a>
      <span class="material-symbols-outlined text-lg">chevron_right</span>
      <span class="font-medium">{{ id() }}</span>
    </div>
  </div>

  @if (dppQuery.data() && productQuery.data()) {
    <div class="grid grid-cols-2 gap-2" [formGroup]="formGroup">
      <app-product-card [title]="'Id'">
        <span>{{ dppQuery.data()?.productId }} </span>
      </app-product-card>

      <app-dpp-card [title]="'Id'" [formControl]="formGroup.controls.productId"
        ><div class="flex flex-row gap-2">
          <span>{{ dppQuery.data()?.productId }} </span>
         
        </div>
      </app-dpp-card>
    </div>
  }
</div>
