<div class="p-8">
  <div class="flex items-center gap-2 text-lg">
    <a routerLink="/product-groups" class="font-semibold hover:underline"
      >Produktgruppen</a
    >
    <span class="material-symbols-outlined text-lg"> chevron_right </span>
    @if (groupQuery.isSuccess()) {
      <h1 class="font-medium">
        {{ groupQuery.data().id }}
      </h1>
    }
  </div>

  @if (groupQuery.isLoading()) {
    <span class="material-symbols-outlined mt-4 animate-spin text-lg"
      >progress_activity</span
    >
  }

  @if (groupQuery.data(); as data) {
    <div class="mt-4 grid grid-cols-1 gap-4 md:grid-cols-3">
      <div class="col-span-2 rounded-lg bg-neutral-200 p-4">
        <div class="flex w-full justify-between">
          <h2 class="font-medium">Allgemeine Informationen</h2>
          <button mat-button (click)="sheet.open()">
            <mat-icon>edit</mat-icon>
            bearbeiten
          </button>
        </div>

        <div class="grid grid-cols-4 gap-x-4 gap-y-2 text-sm">
          <span class="col-span-1 flex font-medium">Name</span
          ><span class="col-span-3 flex">{{ data.name }}</span>
          <span class="col-span-1 flex font-medium">Beschreibung </span>
          <span class="col-span-3 flex">{{
            data.description || 'Nicht angegeben'
          }}</span
          ><span class="col-span-1 flex font-medium"
            >Relevante Abfallströme </span
          ><span class="col-span-3 flex">{{ data.wasteFlow }}</span>
        </div>
      </div>
      <div class="col-span-1 rounded-lg bg-neutral-200 p-4">
        <h2 class="font-medium">Varianten</h2>
        <div class="mt-4 grid grid-cols-4 gap-x-4 gap-y-2 text-sm">
          <div class="col-span-4 flex gap-2">
            @for (item of data.variants; track $index) {
              <mat-chip class="example-box">{{ item.name }}</mat-chip>
            }
            @if (data.variants?.length === 0) {
              <span>{{ 'Keine Varianten angegeben' }}</span>
            }
          </div>
        </div>
      </div>

      <!-- Products -->

      <div class="col-span-3 rounded-lg bg-neutral-200 p-4">
        <div class="flex w-full justify-between">
          <h2 class="text-sm font-medium">Produkte</h2>
          <a
            mat-button
            [routerLink]="['/products/create']"
            [queryParams]="{ productGroupId: id$() }"
            >Hinzufügen</a
          >
        </div>

        <div class="mt-4 max-h-96 space-y-4 overflow-y-auto">
          @if (groupQuery.data()?.products; as products) {
            <table
              mat-table
              [dataSource]="groupQuery.data()?.products ?? []"
              class="overflow-hidden !rounded-lg !bg-neutral-200"
            >
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Produktname</th>
                <td mat-cell *matCellDef="let element">
                  <a
                    class="flex w-full gap-2"
                    [routerLink]="[Uris.products, element.id]"
                  >
                    {{ element.name }}
                    @if (element.flags && element.flags.length > 0) {
                      <img
                        class="h-4"
                        [src]="'flagSelected.svg'"
                        [alt]="'Element is flagged'"
                        [matTooltip]="TooltipMessages.tooltipEdit"
                      />
                    }
                  </a>
                </td>
              </ng-container>
              <ng-container matColumnDef="productId">
                <th mat-header-cell *matHeaderCellDef>Produkt Id</th>
                <td mat-cell *matCellDef="let element">
                  <a [routerLink]="[Uris.products, element.id]">{{
                    element.productId
                  }}</a>
                </td>
              </ng-container>
              <ng-container matColumnDef="supplier">
                <th mat-header-cell *matHeaderCellDef>Lieferant</th>
                <td mat-cell *matCellDef="let element">
                  <a [routerLink]="[Uris.companies, element.supplier.id]">{{
                    element.supplier.name
                  }}</a>
                </td>
              </ng-container>
              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef>Preis / Stück</th>
                <td mat-cell *matCellDef="let element">
                  {{ (element.price / 100).toFixed(2) }} €
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayedColumns"
                class="hover:bg-neutral-300"
              ></tr>

              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell px-4 py-4" colspan="4">
                  Keine Produkte angegeben
                </td>
              </tr>
            </table>
          }
        </div>
      </div>

      <!-- Abfall -->

      <div class="col-span-3 rounded-lg bg-neutral-200 p-4">
        <h2 class="text-sm font-medium">Anfallender Abfall der Gruppe</h2>
        <div class="mt-4 max-h-96 space-y-4 overflow-y-auto">
          @if (groupQuery.data()?.wasteMaterialEvaluation; as wasteMaterial) {
            <table
              mat-table
              [dataSource]="wasteMaterial ?? []"
              class="overflow-hidden !rounded-lg !bg-neutral-200"
            >
              <ng-container matColumnDef="wasteName">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.name }}
                </td>
              </ng-container>
              <ng-container matColumnDef="wasteWeight">
                <th mat-header-cell *matHeaderCellDef>Gewicht</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.weightInKg }} kg
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="wastedisplayedColumns"></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: wastedisplayedColumns"
                class="hover:bg-neutral-300"
              ></tr>

              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell px-4 py-4" colspan="4">
                  Keine Produkte angegeben
                </td>
              </tr>
            </table>
          }
        </div>
      </div>
    </div>
  }
</div>

<app-base-sheet #sheet>
  <app-product-group-create
    [data]="groupQuery.data()"
    (closeSheetEvent)="sheet.close(); groupQuery.refetch()"
  ></app-product-group-create>
</app-base-sheet>
