<div class="flex h-full w-full flex-col gap-4 p-8 pb-4">
  <div class="flex w-full content-around gap-2">
    <mat-form-field appearance="outline" class="flex-1" [formGroup]="formGroup">
      <mat-label>Suche</mat-label>
      <input matInput formControlName="filter" />
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Zeige</mat-label>
        <mat-select (selectionChange)="onIsSellableChange($event.value)">
          <mat-option value="preliminary">Vorprodukt</mat-option>
          <mat-option value="product">Verkaufsprodukt</mat-option>
          <mat-option value="all">Alle</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  @if (query.isPending()) {
    <span i18n>Daten werden geladen</span>
  } @else if (query.isSuccess() && query.data().data) {
    <table
      mat-table
      [dataSource]="query.data().data!"
      class="overflow-hidden !rounded-lg !bg-neutral-200"
      matSort
      (matSortChange)="onSortChange($event)"
      matSortDisableClear
    >
      <ng-container matColumnDef="flagged">
        <th class="!border-neutral-350" mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" [routerLink]="[element.id]">
          @if (element.flags && element.flags.length > 0) {
            <span>
              <img
                class="min-h-2.5 min-w-3"
                [src]="'flagSelected.svg'"
                [alt]="'Element is flagged'"
                [matTooltip]="TooltipMessages.tooltipEdit"
              />
            </span>
          }
        </td>
      </ng-container>
      <ng-container matColumnDef="productId">
        <th
          class="!border-neutral-350"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="productId"
        >
          Produkt-ID
        </th>
        <td
          class="cursor-pointer"
          mat-cell
          *matCellDef="let element"
          [routerLink]="[element.id]"
        >
          <div class="flex w-full gap-2">
            {{ element.productId }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th
          class="!border-neutral-350"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="name"
        >
          Name
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          [routerLink]="[element.id]"
          class="cursor-pointer"
        >
          {{ element.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th
          class="!border-neutral-350"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="description"
        >
          Beschreibung
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          [routerLink]="[element.id]"
          class="cursor-pointer"
        >
          {{ element.description }}
        </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th
          class="!border-neutral-350"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="category"
        >
          Kategorie
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          [routerLink]="[element.id]"
          class="cursor-pointer"
        >
          {{ element.category }}
        </td>
      </ng-container>

      <ng-container matColumnDef="weight">
        <th
          class="!border-neutral-350"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="weight"
        >
          Gewicht
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          [routerLink]="[element.id]"
          class="cursor-pointer"
        >
          {{ element.weight }} {{ element.unit }}
        </td>
      </ng-container>

      <ng-container matColumnDef="percentageOfBiologicalMaterials">
        <th
          class="!border-neutral-350"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="percentageOfBiologicalMaterials"
        >
          Anteil erneuerbarer Materialien
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          [routerLink]="[element.id]"
          class="cursor-pointer"
        >
          {{ element.percentageOfBiologicalMaterials }} %
        </td>
      </ng-container>

      <ng-container matColumnDef="wasteFlow">
        <th
          class="!border-neutral-350"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="wasteFlow"
        >
          Relevante Abfallströme
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          [routerLink]="[element.id]"
          class="cursor-pointer"
        >
          {{ element.wasteFlow }}
        </td>
      </ng-container>

      <ng-container matColumnDef="productGroup">
        <th
          class="!border-neutral-350"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="productGroup"
        >
          Produktgruppe
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          [routerLink]="[element.id]"
          class="cursor-pointer"
        >
          {{ element.productGroup.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="circularPrinciple">
        <th
          class="!border-neutral-350"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="circularPrinciple"
        >
          Konzipiert nach Kreislauforientierten Grundsätzen
        </th>
        <td mat-cell *matCellDef="let element" [routerLink]="[element.id]">
          {{ element.circularPrinciple ? 'Ja' : 'Nein' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="supplier">
        <th
          class="!border-neutral-350"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="supplier"
        >
          Lieferant
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          [routerLink]="[element.id]"
          class="cursor-pointer"
        >
          {{ element.supplier?.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="importer">
        <th
          class="!border-neutral-350"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="importer"
        >
          Importeur
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          [routerLink]="[element.id]"
          class="cursor-pointer"
        >
          {{ element.importer?.name || 'Nicht angegeben' }}
        </td>
      </ng-container>

      @if (authService.isSupplier()) {
        <tr mat-header-row *matHeaderRowDef="supplierDisplayedColumns"></tr>
        <tr
          class="hover:bg-neutral-300"
          mat-row
          *matRowDef="let row; columns: supplierDisplayedColumns"
        ></tr>
      } @else {
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          class="hover:bg-neutral-300"
          mat-row
          *matRowDef="let row; columns: displayedColumns"
        ></tr>
      }
    </table>
  }

  @if (query.isSuccess() && query.data().data) {
    <mat-paginator
      class="overflow-hidden !rounded-lg !bg-neutral-200"
      (page)="updateTable($event)"
      [length]="query.data().meta?.totalCount ?? 100"
      [pageSize]="query.data().meta?.pageSize ?? pageSize"
      [pageSizeOptions]="[5, 10, 15, 20]"
      [pageIndex]="(query.data().meta?.page || 1) - 1"
      aria-label="Select page"
      showFirstLastButtons
    >
    </mat-paginator>
  }
</div>
