<div class="rounded-lg bg-neutral-200 p-4">
  <div class="flex items-center justify-between">
    <app-flagable
      [id]="id()"
      [topic]="'Angaben zum Müll'"
      [data]="flags()"
      [element]="'waste'"
    >
    </app-flagable>
    <button mat-button routerLink="waste">
      <mat-icon>edit</mat-icon>
      bearbeiten
    </button>
  </div>

  @if (!waste()) {
    <span class="px-2 text-sm text-neutral-600"
      >Keine Daten zum Abfall angegeben</span
    >
  } @else {
    <div class="mt-2 grid grid-cols-3 gap-x-4 gap-y-2 text-sm">
      <app-flagable
        [id]="id()"
        [topic]="'Menge an radioaktiven Materialien'"
        [data]="flags()"
        [element]="'waste.radioactiveAmount'"
      >
        <span>
          {{ waste()?.radioactiveAmount }}
          {{ waste()?.radioactiveAmount ? 'kg' : 'keine Angabe' }}
        </span>
      </app-flagable>

      <app-flagable
        [id]="id()"
        [topic]="'Anteil des Recycelten Abfalls'"
        [data]="flags()"
        [element]="'waste.recycledWastePercentage'"
        [outlier]="outlier()"
      >
        <span>{{ waste()?.recycledWastePercentage }} %</span>
      </app-flagable>

      <app-flagable
        [id]="id()"
        [topic]="'Materialien'"
        [data]="flags()"
        [element]="'waste.wasteMaterials'"
      >
        <div class="flex flex-row flex-wrap gap-1">
          @for (item of waste()?.wasteMaterials ?? []; track $index) {
            <mat-chip>
              {{ item.material?.name }}
              <span class="ml-2 !text-neutral-700"
                >{{ item.percentage | number }} % |
                {{ item.weightInKg | number }} kg</span
              >
            </mat-chip>
          }
        </div>
        @if (
          !waste()?.wasteMaterials || waste()?.wasteMaterials?.length === 0
        ) {
          <span>keine Angabe</span>
        }
      </app-flagable>

      <mat-divider class="col-span-3"></mat-divider>

      <h2 class="col-span-3 py-1 text-sm font-medium">
        Nicht gefährliche Abfälle
      </h2>

      <app-flagable
        [id]="id()"
        [topic]="'Vorbereitung zur Wiederverwertung'"
        [data]="flags()"
        [element]="
          'waste.normalWaste.utilizableWaste.preparationForRecyclingWeight'
        "
      >
        <span>
          {{
            waste()?.normalWaste?.utilizableWaste?.preparationForRecyclingWeight
              | number
          }}
          kg
        </span>
      </app-flagable>

      <app-flagable
        [id]="id()"
        [topic]="'Recyclingfähig'"
        [data]="flags()"
        [element]="'waste.normalWaste.utilizableWaste?.recyclingWeight'"
      >
        <span>
          {{ waste()?.normalWaste?.utilizableWaste?.recyclingWeight | number }}
          kg
        </span>
      </app-flagable>

      <app-flagable
        [id]="id()"
        [topic]="'Sonstige Verwertungsverfahren'"
        [data]="flags()"
        [element]="'waste.normalWaste.utilizableWaste?.miscellaneousWeight'"
      >
        <span>
          {{
            waste()?.normalWaste?.utilizableWaste?.miscellaneousWeight | number
          }}
          kg
        </span>
      </app-flagable>

      <app-flagable
        [id]="id()"
        [topic]="'Haldenabfall'"
        [data]="flags()"
        [element]="'waste.normalWaste.nonUtilizableWaste.landfillWeight'"
      >
        <span>
          {{
            waste()?.normalWaste?.nonUtilizableWaste?.landfillWeight | number
          }}
          kg
        </span>
      </app-flagable>

      <app-flagable
        [id]="id()"
        [topic]="'Verbrennung'"
        [data]="flags()"
        [element]="'waste.normalWaste.nonUtilizableWaste.combustionWeight'"
      >
        <span>
          {{
            waste()?.normalWaste?.nonUtilizableWaste?.combustionWeight | number
          }}
          kg
        </span>
      </app-flagable>

      <app-flagable
        [id]="id()"
        [topic]="'Sonstige Beseitigung'"
        [data]="flags()"
        [element]="'waste.normalWaste.nonUtilizableWaste.miscellaneousWeight'"
      >
        <span>
          {{
            waste()?.normalWaste?.nonUtilizableWaste?.miscellaneousWeight
              | number
          }}
          kg
        </span>
      </app-flagable>

      <mat-divider class="col-span-3"></mat-divider>

      <app-flagable
        [id]="id()"
        [topic]="'Gefährliche Abfälle'"
        [data]="flags()"
        [element]="'waste.hazardousWaste'"
      >
      </app-flagable>

      @if (waste()?.hazardousWaste) {
        <app-flagable
          [id]="id()"
          [topic]="'Vorbereitung zur Wiederverwertung'"
          [data]="flags()"
          [element]="
            'waste.hazardousWaste.utilizableWaste.preparationForRecyclingWeight'
          "
        >
          <span>
            {{
              waste()?.hazardousWaste?.utilizableWaste
                ?.preparationForRecyclingWeight | number
            }}
            kg
          </span>
        </app-flagable>

        <app-flagable
          [id]="id()"
          [topic]="'Recyclingfähig'"
          [data]="flags()"
          [element]="'waste.hazardousWaste.utilizableWaste.recyclingWeight'"
        >
          <span>
            {{
              waste()?.hazardousWaste?.utilizableWaste?.recyclingWeight | number
            }}
            kg
          </span>
        </app-flagable>

        <app-flagable
          [id]="id()"
          [topic]="'Sonstige Verwertungsverfahren'"
          [data]="flags()"
          [element]="'waste.hazardousWaste.utilizableWaste.miscellaneousWeight'"
        >
          <span>
            {{
              waste()?.hazardousWaste?.utilizableWaste?.miscellaneousWeight
                | number
            }}
            kg
          </span>
        </app-flagable>

        <app-flagable
          [id]="id()"
          [topic]="'Haldenabfall'"
          [data]="flags()"
          [element]="'waste.hazardousWaste.nonUtilizableWaste.landfillWeight'"
        >
          <span>
            {{
              waste()?.hazardousWaste?.nonUtilizableWaste?.landfillWeight
                | number
            }}
            kg
          </span>
        </app-flagable>

        <app-flagable
          [id]="id()"
          [topic]="'Verbrennung'"
          [data]="flags()"
          [element]="'waste.hazardousWaste.nonUtilizableWaste.combustionWeight'"
        >
          <span>
            {{
              waste()?.hazardousWaste?.nonUtilizableWaste?.combustionWeight
                | number
            }}
            kg
          </span>
        </app-flagable>

        <app-flagable
          [id]="id()"
          [topic]="'Sonstige Beseitigung'"
          [data]="flags()"
          [element]="
            'waste.hazardousWaste.nonUtilizableWaste.miscellaneousWeight'
          "
        >
          <span>
            {{
              waste()?.hazardousWaste?.nonUtilizableWaste?.miscellaneousWeight
                | number
            }}
            kg
          </span>
        </app-flagable>

        <app-flagable
          [id]="id()"
          [topic]="'Gefährlicher Abfalltyp'"
          [data]="flags()"
          [element]="'waste.hazardousType'"
        >
          <span>{{ waste()?.hazardousType ?? 'keine Angabe' }} </span>
        </app-flagable>
      } @else {
        <span class="text-sm">Keine gefährlichen Abfälle enthalten</span>
      }
    </div>
  }
</div>
